*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mib{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.abc{
    margin-top: 7vh;
    background-color: white;
    padding-left: 7vw;
}
.bookbox1{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 40% 40%;
    row-gap: 20px;
    column-gap: 10%;
    background-color: white;
}
.bookbox{
    height: 25vh;
    width:40vw;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}
.bookimage{
    height: 20vh;
    width: 10vw;
    margin: 2.5vh 5%;
    border-radius: 10px;
}
.subbookimage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.bookp{
    display: block;
    margin-top: 1.8vh;
}
.pdiv{
    height: 20vh;
    margin: 2.5vh 5%;
}
@media(max-width:539px){
    .abc{
        margin-top: 7vh;
        background-color: white;
        padding: 0px;
    }
    .bookbox1{
        height: auto;
        width: 80vw;
        display: block;
        background-color: white;
        margin-left: 10vw;
    }
    .bookbox{
        height: 15vh;
        width:80vw;
        align-items: center;
        margin-bottom: 1vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        background-color: white;
    }
    .bookp{
        display: block;
        line-height: 0.5;
    }
    
.bookimage{
    height: 12vh;
    width: 20vw;
    margin: 1.5vh 0px 1.5vh 5%;
    border-radius: 10px;
}
.subbookimage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.pdiv{
    height: 20vh;
    padding:3vh 0px;
}
}
